body {
  margin: 0px;
}

@-ms-viewport{
  width: device-width;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 10px;
  z-index: -5;
}

.navbar-container {
  position: fixed;
  height: 60px;
  width: 100%;
  overflow: hidden;
  z-index: -2;
  background: white;
  margin: 0px;
  -webkit-box-shadow: 0 8px 10px -6px #999;
   -moz-box-shadow: 0 8px 10px -6px #999;
   box-shadow: 0 8px 10px -6px #999;

}

.navbar {
  float: left;
  display: inline;
  font-family: futura-pt, sans-serif;
  color: #4A4A4A;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  z-index: 6;
}

#home {
  position: fixed;
  left: 850px;
  bottom: 550px;
}

#work {
  position: fixed;
  left: 940px;
  bottom: 550px;
}

#tinkering {
  position: fixed;
  left: 1020px;
  bottom: 550px;
}

#about {
  position: fixed;
  left: 1140px;
  bottom: 550px;
}

a {
	text-decoration: none;
	position: relative;
	color: inherit;
}


a.descriptionlinks:after {
		content: "";
    background-image: linear-gradient(0deg, #FFDBE9 0%, #FFF7D3 100%);
	 /* background: #F2EFFF; */
	  position: absolute;
	  height: 0.5em;
	  width: calc(100% + 4px);
	  left: 50%;
	  bottom: 0;
	  transform: translateX(-50%);
	  z-index: -1;
	  transition: 0.2s;
}

a.descriptionlinksorange:after {
		content: "";
    background-image: linear-gradient(0deg, #FFDBE9 0%, #FFF7D3 100%);
/*	  background: #FFECD5; */
	  position: absolute;
	  height: 0.5em;
	  width: calc(100% + 4px);
	  left: 50%;
	  bottom: 0;
	  transform: translateX(-50%);
	  z-index: -1;
	  transition: 0.2s;
}


a.descriptionlinks:hover:after {
		height: 1.1em;
	}


a.descriptionlinksorange:hover:after {
		height: 1.1em;
	}


#home:hover, #work:hover, #tinkering:hover, #about:hover {
  opacity:0.6;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  width: 30%;
  left: 345px;
  top: 115px;
  word-spacing: 0.3em;
  position: fixed;
  font-weight: 700;
  color: #696969;
}

.description-container {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  width: 38%;
  left: 200px;
  top: 170px;
  position: fixed;
  font-weight: 300;
  color: #3B3B3B;
  letter-spacing: 0.75px;
  text-align: justify;
}

.myphoto {
  transform: scale(0.22);
  top: -670px;
  left: 200px;
  position: fixed;
  opacity: 0.95;
}

.myphoto:hover {
  animation: wave 0.45s both 2 ease-in;
}

@keyframes wave {
  0% {
    left: 200px;
  }
  50% {
    left: 190px;
  }
  100% {
    left: 200px;
  }
}

#mybrand {
  position: fixed;
  transform: scale(0.3);
  left: 10px;
  top: -95px;
}

a.mybrand:after {
  text-decoration: none;
  position: relative;
}
