html, body {
  height: 100%;
}

body {
  margin: 0px;
}
.navbar {
  float: left;
}

.navbar-container {
  position: absolute;
  height: 60px;
  width: 100%;
  background-color: green;
  z-index: 200;
}

.links {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 80.5vw;
  top: 5vw;
  animation: fadeIn 1s both 1.5s;
}
a img {
  display: block;
  width: 1.6vw;
  padding-left: 1vw;
}

#hero-container {
  height: 100% !important;
  overflow: clip;
}

#hero {
  top: -10px;
  width: 100vw !important;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
