body {
  margin: 0px;
}

@-ms-viewport{
  width: device-width;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 10px;
  z-index: -5;
  margin: 0px;
}

.navbar-container {
  position: fixed;
  height: 60px;
  width: 100%;
  overflow: hidden;
  z-index: -2;
}

a {
	text-decoration: none;
	position: relative;
	color: inherit;
}

a:visited {
  transition: color 1s ease-out;
  text-decoration: none;
  color: #4A4A4A;
}

a.links:hover {
  transition: opacity 0.1s ease-in;
  opacity: 0.6;
}

a.copy:hover {
  transition: color 0.2s ease;
  opacity: 0.6;
}

.navbar {
  float: left;
  display: inline;
  font-family: futura-pt, sans-serif;
  color: #4A4A4A;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  z-index: 6;
}

#home {
  position: fixed;
  left: 850px;
  bottom: 523px;
  animation: fadeIn 1s both 2.5s;

}

#work {
  position: fixed;
  left: 940px;
  bottom: 523px;
  animation: fadeIn 1s both 2.5s;

}

#tinkering {
  position: fixed;
  left: 1020px;
  bottom: 523px;
  animation: fadeIn 1s both 2.5s;

}

#about {
  position: fixed;
  left: 1140px;
  bottom: 523px;
  animation: fadeIn 1s both 2.5s;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero1 {
  font-family: 'Homemade Apple', cursive;
  color: #5F5F5F;
  font-style: normal;
  font-weight: 500;
  position: fixed;
  font-size: 50px;
  left: 465px;
  top: 190px;
  letter-spacing: 0.02em;
  animation: fadeInUp 1.5s both;
  opacity: 0;
  text-rendering: optimizeLegibility;

}

.hero2 {
  font-family: 'Homemade Apple', cursive;
  color: #5F5F5F;
  position: fixed;
  font-size: 45px;
  font-weight: 400;
  left: 560px;
  top: 195px;
  letter-spacing: 0.02em;
  animation: fadeInUp 1.5s both;
  opacity: 0;
  word-spacing: 0.4em;
  text-rendering: optimizeLegibility;

}

.hero3 {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  color: #4A4A4A;
  position: fixed;
  font-size: 13px;
  left: 435px;
  top: 295px;
  letter-spacing: 0.1em;
  animation: fadeInUp 1.8s both 1.5s;
  opacity: 0;
  text-rendering: optimizeLegibility;

}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.decalart {
  position: fixed;
  top: 290px;
  left: -660px;
  transform: scale(0.53);
}

#mybrand {
  position: fixed;
  transform: scale(0.39);
  left: 10px;
  top: -70px;
  animation: fadeIn 1s both 2.5s;

}
