body {
  margin: 0px;
}

.small-screen {
  position: fixed;
  visibility: visible;
}

.small-screen img {
  position: fixed;
  top: 350px;
  left: 20px;
  z-index: -6;
  transform: scale(1.1) scaleY(0.9);
}

img {
  position: fixed;
  transform: scale(0.3);
  left: -20px;
  top: -70px;
}

.hero1 {
  font-family: 'Homemade Apple', cursive;
  color: #5F5F5F;
  font-style: normal;
  font-weight: 500;
  position: fixed;
  font-size: 40px;
  left: 120px;
  top: 195px;
  letter-spacing: 0.02em;
  opacity: 1;
  text-rendering: optimizeLegibility;

}

.hero2 {
  font-family: 'Homemade Apple', cursive;
  color: #5F5F5F;
  position: fixed;
  left: 200px;
  top: 200px;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 0.02em;
  opacity: 1;
  word-spacing: 0.4em;
  text-rendering: optimizeLegibility;

}

.hero3 {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  color: #4A4A4A;
  left: 60px;
  top: 300px;
  position: fixed;
  font-size: 13px;
  letter-spacing: 0.1em;
  animation: fadeIn 1s both 1s;
  opacity: 1;
  text-rendering: optimizeLegibility;

}

.navbar-container {
  position: fixed;
  height: 20px;
  left: 100px;
  overflow: hidden;
  z-index: -2;
  width: 414px;

}

.navbar-container {
  position: fixed;
  height: 60px;
  width: 100%;
  overflow: hidden;
  z-index: -2;
}

a {
	text-decoration: none;
	position: relative;
	color: inherit;
}

a:visited {
  transition: color 1s ease-out;
  text-decoration: none;
  color: #4A4A4A;
}

a.links:hover {
  transition: opacity 0.1s ease-in;
  opacity: 0.6;
}

a.copy:hover {
  transition: color 0.2s ease;
  opacity: 0.6;
}

.navbar {
  float: left;
  display: inline;
  font-family: futura-pt, sans-serif;
  color: #4A4A4A;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  z-index: 6;
}

#home {
  position: fixed;
  left: 190px;
  bottom: 530px;
  animation: fadeIn 1s both 1s;

}

#work {
  position: fixed;
  left: 250px;
  bottom: 530px;
  animation: fadeIn 1s both 1s;

}

#tinkering {
  position: fixed;
  left: 310px;
  bottom: 530px;
  animation: fadeIn 1s both 1s;

}

#about {
  position: fixed;
  left: 400px;
  bottom: 530px;
  animation: fadeIn 1s both 1s;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
