body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

@-ms-viewport{
  width: device-width;
}

.background {
  position: relative;
  z-index: -5;
  left: 470px;
  bottom: 2000px;
}

.navbar-container {
  position: fixed;
  height: 60px;
  width: 100%;
  overflow: hidden;
  z-index: 4;
  background: white;
  margin: 0px;
  -webkit-box-shadow: 0 8px 10px -6px #999;
   -moz-box-shadow: 0 8px 10px -6px #999;
   box-shadow: 0 8px 10px -6px #999;

}

.navbar {
  float: left;
  display: inline;
  font-family: futura-pt, sans-serif;
  color: #4A4A4A;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  z-index: 4;
}

#home {
  position: fixed;
  left: 850px;
  bottom: 550px;
}

#work {
  position: fixed;
  left: 940px;
  bottom: 550px;
}

#tinkering {
  position: fixed;
  left: 1020px;
  bottom: 550px;
}

#about {
  position: fixed;
  left: 1140px;
  bottom: 550px;
}

a {
	text-decoration: none;
	position: relative;
	color: inherit;
}


a.descriptionlinks:after {
		content: "";
    background-image: linear-gradient(0deg, #FFD5E5 0%, #FFF7D3 100%);
	 /* background: #F2EFFF; */
	  position: absolute;
	  height: 0.5em;
	  width: calc(100% + 4px);
	  left: 50%;
	  bottom: 0;
	  transform: translateX(-50%);
	  z-index: -1;
	  transition: 0.2s;
}

a.descriptionlinksorange:after {
		content: "";
    background-image: linear-gradient(0deg, #FFD5E5 0%, #FFF7D3 100%);
/*	  background: #FFECD5; */
	  position: absolute;
	  height: 0.5em;
	  width: calc(100% + 4px);
	  left: 50%;
	  bottom: 0;
	  transform: translateX(-50%);
	  z-index: -1;
	  transition: 0.2s;
}


a.descriptionlinks:hover:after {
		height: 1.1em;
	}


a.descriptionlinksorange:hover:after {
		height: 1.1em;
	}


#home:hover, #work:hover, #tinkering:hover, #about:hover {
  opacity:0.6;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  position: relative;
  color: inherit;
}

.navbar a:hover {
  text-decoration: none;
  position: relative;
  color: #4A4A4A;
}

#mybrand {
  position: fixed;
  transform: scale(0.3);
  left: 10px;
  top: -95px;
}

a.mybrand:after {
  text-decoration: none;
  position: relative;
}

.code {
  position: relative;
  display: inline;
  top: 120px;
  left: 23%;
  font-family: futura-pt, sans-serif;
  color: #696969;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  z-index: -3;
}


.design {
  position: relative;
  display: inline;
  bottom: 1215px;
  left: 63.5%;
  font-family: futura-pt, sans-serif;
  color: #696969;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  z-index: -4;
}

.study-1 {
  position: relative;
  top: 150px;
  left: 12%;
  z-index: 3;
  transform: scale(0.9);
  width: 420px;

}

.description-1 {
  position: relative;
  top: 180px;
  left: 14%;
  width: 30%;
  z-index: -4;
  font-family: futura-pt, sans-serif;
  color: #4A4A4A;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3em;
  font-size: 15px;
  z-index: 3;
  text-align: left;

}

.study-2 {
  position: relative;
  top: 180px;
  left: 9%;
  z-index: 3;
  transform: scale(0.76);
}

.description-2 {
  position: relative;
  top: 170px;
  left: 14%;
  width: 30%;
  z-index: -4;
  font-family: futura-pt, sans-serif;
  color: #4A4A4A;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  z-index: 3;
  text-align: left;

}

.study-3 {
  position: relative;
  top: 200px;
  left: 14%;
  z-index: 3;
  height: 300px;
  width: 380px;
}

.description-3 {
  position: relative;
  top: 230px;
  left: 14%;
  width: 30%;
  z-index: -4;
  font-family: futura-pt, sans-serif;
  color: #4A4A4A;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  z-index: 3;
  text-align: left;

}

.study-4 {
  position: relative;
  top: -1175px;
  left: 56%;
  z-index: 3;
  height: 255px;
  width: 380px;
}

.description-4 {
  position: relative;
  bottom: 1135px;
  left: 56%;
  width: 30%;
  z-index: -4;
  font-family: futura-pt, sans-serif;
  color: #4A4A4A;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  z-index: 3;
  text-align: left;

}

.study-5 {
  position: relative;
  top: -1090px;
  left: 56%;
  z-index: 3;
  height: 290px;
  width: 425px;
}

.description-5 {
  position: relative;
  bottom: 1065px;
  left: 56%;
  width: 30%;
  z-index: -4;
  font-family: futura-pt, sans-serif;
  color: #4A4A4A;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  z-index: 3;
  text-align: left;

}

.description-6 {
  position: relative;
  top: 320px;
  left: 37%;
  width: 30%;
  z-index: 3;
  font-family: futura-pt, sans-serif;
  color: #696969;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  z-index: 3;
  text-align: left;
}

.come-in {
  transform: translate3d(0, 120px, 0);
  animation: come-in 0.8s ease forwards;
}

.already-visible {
  transform: translate3d(0, 0, 0);
}

@keyframes come-in {
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: opacity 0.6s ease forwards;
  }
}

.hideme {
  transform: translate3d(0, 120px, 0);
  opacity: 0;
}
